# CODEOWNERS

# صاحب الملكية الافتراضي لأي حاجة مش متغطية تحت
*                               @MuhammadSeyam

# ---- Pod A - Backend & Platform ----
/backend/                       @waleed1032 @0Abanoub @MuhammadSeyam

# ---- Pod B - AI/ML ----
/backend/app/ai/                @MuhammadSeyam @Poulamaher33 @Hossam445
/backend/app/rag/               @MuhammadSeyam @Poulamaher33 @Hossam445
/backend/app/kg/                @MuhammadSeyam @Poulamaher33 @Hossam445

# ---- Pod C - Frontend & UX ----
/frontend/                      @ibrahim15456 @waseemwageeh33-wes @MuhammadSeyam

# ---- Pod D - DevOps, QA & Eval (بتاعك انت) ----
/.github/                       @hishamabdo0100 @abdomoaz58-tech @MuhammadSeyam
/infra/                         @hishamabdo0100 @abdomoaz58-tech @MuhammadSeyam
/docs/runbooks/                 @hishamabdo0100 @abdomoaz58-tech @MuhammadSeyam
